<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boakye.daniel.okweather">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppBaseTheme">


        <activity
            android:name=".weatherme.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".weatherme.CardLayout"
            android:label="@string/title_activity_card_layout" >
        </activity>

        <activity
            android:name=".weatherme.UserSettingActivity"
            android:label="@string/title_activity_user_setting"
            android:parentActivityName=".weatherme.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.boakye.daniel.okweather.weatherme.MainActivity" />
        </activity>
    </application>

</manifest>
